:root{
    --cor-fundo:#43637E;
    --cor-principal:blue;
    --cor-secundaria:green;
    --cor-destaque:red;
    --cor-texto:#0a0000;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}