:root{
    --cor-fundo:#43637E;
    --cor-principal:blue;
    --cor-secundaria:green;
    --cor-destaque:red;
    --cor-texto:#0a0000;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;   
}
.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600%;
    text-align: center;
    padding: 20%;
}
button{ 
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;

}